* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.style-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px groove rgba(0, 0, 0, 0.623);
  width: 950px;
  height: 750px;
  background-color: grey;
  border-radius: 6px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  height: 700px;
  padding: 0;
}

.cellDiv {
  border: 1px solid black;
  background-color: white;
  transition: background-color 0.1s;
}

.buttons-wrapper {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  width: 600px;
  height: 70px;
  padding: 4px;
}

.grid-btn {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  padding: 2px;
  background-color: rgb(70, 250, 85);
  color: black;
}

.reset-btn {
  width: 90px;
  height: 30px;
  border-radius: 5px;
  padding: 2px;
  background-color: rgb(235, 64, 64);
  color: aliceblue;
}
