* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  width: 900px;
  height: 700px;
}

.container > div {
  width: calc(100% / 16);
  height: calc(100% / 16);
  border: 1px solid black;
}

/* .container > div:nth-child(17n + 1) {
  width: 100% !important;
} */
